.recipe-add-button {
    font-family: $header-font;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: white;
    background-color: $red;
    border-radius: 0;
    margin-top: 2%;
    margin-left: -1.1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.recipe-add-button:hover {
    background-color: $darkgreen;
}

.just-added-recipe-text {
    font-family: $body-font;
    font-size: 3rem;
    margin-top: 3rem;
    margin-left: -1.3rem;
}

.just-added-recipe-link {
    font-family: $body-font;
    font-size: 3rem;
    margin-top: 2%;
    color: $orange;
}